/*-- Background Start --*/
body {
    background-color: #ddcdc0;
    background-image: url('/ITPROG-MP1/assets/images/SkyBG50.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
/*-- Background End --*/

/*-- Flight Display Start--*/
.headerOrder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.orderTitle {
    flex: 1;
    font-family: 'IntroRust-Base', sans-serif;
}

.HNAIA {
    font-size: 30px;
}

.headerDate {
    margin-left: 10px;
    font-family: 'IntroRust-Base', sans-serif;
    font-size: 30px;
}

.boxContainers {
    width: 75vw;
    height: 100vh;
    margin-left: 250px;
}

.orderHeaderContainers {
    width: 100%;
    height: 50px;
    background: rgba(255,255,255, 0.5);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: repeat(7, 1fr) 2fr;
}
.orderHeaderContainers > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 30px;
    font-family: 'GlacialIndi', sans-serif;
}

.orderHeaderContainers > div span {
    margin-left: 30px;
}
.orderContainers {
    width: 100%;
    height: 50px;
    background: rgba(255,255,255, 0.3);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.orderContainers > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 30px;
}

.orderContainers > div span {
    margin-left: 30px;
}

.orderInfo {
    width: 100%;
    height: 50px;
    background: rgba(255,255,255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.orderInfo > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 30px;
}
.orderInfo > div > span:not([class]) {
    line-height: 1;
}

.addInfo {
    opacity: .5;
}
/*-- Flight Display End--*/
