body {
    background-color: #ddcdc0; /* Set your desired background color */
}

h2 {
    font-family: 'IntroRust-Base', sans-serif;
    text-align: left; /* Center the "MAIN DISHES" heading */
}

h3 {
    font-family: 'IntroRust-Base', sans-serif;
    text-align: center; /* Center the "MAIN DISHES" heading */
}

.navigation {
    display: flex; /* Use flexbox layout */
    margin-top: 100px;
    justify-content: flex-end; /* Align items to the right */
    padding-right: 20px; /* Add some padding to the right */
}

.navigation a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #944e30;
    background-color: #944e30;
    text-decoration: none;
    color: #d39d56;
    transition: background-color 0.3s, color 0.3s;
}

.navigation a:hover {
    color: #ffffff;
}

.introrustbase-font {
    font-family: 'IntroRust-Base', sans-serif; /* Apply Intro Rust Base font to this specific element */
}

.container-wrapper {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Align items with space in between */
    margin-top: 20px; /* Add margin at the top */
}

.contact-container {
    width: 60%; /* Set the container width */
    padding: 20px; /* Add some padding */
    background-color: transparent; /* Set background color for the container */
    border-radius: 10px; /* Add border-radius for rounded corners */
    position: relative; /* Set the container position to relative */
    margin-left: 2%;
}

.order-summary {
    width: 30%; /* Set the container width */
    padding: 20px; /* Add some padding */
    background-color: #ffffff; /* Set white background */
    border-radius: 10px; /* Add border-radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    position: relative; /* Set the container position to relative */
    margin-right: 4%;
    margin-top: 3%;
}

.custom-button {
    position: relative; /* Change position to relative */
    left: 0; /* Reset left position */
    bottom: 20px; /* Adjust the bottom position */
    background-color: #944e30;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 0; /* Adjust padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    width: 100%; /* Make button fill the whole width */
    transition: background-color 0.3s ease;
}


.custom-button:hover {
    background-color: #663300; /* Change background color on hover */
}


.cancel-button{
    position: relative; /* Change position to relative */
    left: 0; /* Reset left position */
    bottom: 20px; /* Adjust the bottom position */
    background-color: #944e30;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 0; /* Adjust padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    width: 100%; /* Make button fill the whole width */
    transition: background-color 0.3s ease;
}


.cancel-button:hover{
    background-color: #663300; /* Change background color on hover */
}


.payment-section {
    background-color: #ffffff; /* Set white background */
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Add border-radius for rounded corners */
    margin-top: 20px; /* Add margin at the top */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    width: 30%;
    position: relative; /* Change position to relative */
}

.payment-section {
    background-color: #ffffff; /* Set white background */
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Add border-radius for rounded corners */
    margin-top: 20px; /* Add margin at the top */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    width: 30%;
}
.dish-image img{
    width: 50px;
    height: 50px;
    background-color: #ccc; /* Default color or background */
    display: inline-block;
    margin-right: 10px; /* Add some space between the image box and the dish name */
}
.dish {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
}

.dish {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space between items */
}

.dish-name {
    flex-grow: 1; /* Allow dish name to grow and fill remaining space */
    text-align: left; /* Align dish name to the left */
    margin-right: 10px; /* Add some space between the dish name and controls */
}

.quantity-controls {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
}

.subtract, .quantity, .add {
    margin: 0 5px; /* Add margin around the controls */
    cursor: pointer; /* Change cursor to pointer */
}

.dish-price {
    text-align: right; /* Align dish price to the right */
}

.discount,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount-label {
    margin-bottom: 5px; /* Add margin below the label */
}

.discount-value {
    display: block; /* Change display to block to make it appear below */
    margin-left: 15px; /* Adjust the left margin to separate subtext from label */
    color: #666; /* Optionally change the color of the subtext */
    font-size: 0.9em; /* Optionally adjust the font size */
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000; /* Ensure the modal is on top of other elements */
    justify-content: center;
    align-items: center;
}

/* Styles for the modal content */
.modal-content {
    background-color: white; /* Set the background color */
    padding: 20px;
    border-radius: 15px; /* Add border-radius for rounded corners */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    color: white;
    position: relative; /* Add position relative */
}

.modal-content:before {
    content: ''; /* Add an empty content */
    position: absolute; /* Position it absolutely */
    top: -10px; /* Adjust top position */
    left: -10px; /* Adjust left position */
    right: -10px; /* Adjust right position */
    bottom: -10px; /* Adjust bottom position */
    background-color: white; /* Set the border color */
    border-radius: 15px; /* Add border-radius for rounded corners */
    z-index: -1; /* Ensure it's behind the modal content */
}


/* Styles for the buttons */
.payment-confirmation-btn {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background-color: #944e30;
    color: white;
    text-decoration: underline; /* Remove underline */
    transition: background-color 0.3s ease;
}

.payment-confirmation-btn:hover{
    background-color: #663300;
}